@model MealPlanner.ViewModels.RecipeDetailData

@{
    ViewBag.Title = "Details";
}

<h2>Recipe Details</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>

    @foreach(var item in Model.Recipes)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.RecipeId)
        {
            selectedRow = "success";
        }
      <tr class=" = @selectedRow">
          <td>
              @Html.DisplayFor(modelItem => item.Title)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Description)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
              @Html.ActionLink("Back to List", "Index")
          </td>
      </tr>
      foreach(var ingredient in Model.Ingredients)
      {
          if (ingredient.RecipeID == item.ID)
          {
              <tr class=" = @selectedRow">
                  <td>
                      @Html.DisplayFor(modelItem => ingredient.Item)
                  </td>                  
              </tr>
          }
      }
    }
</table>


<p>
   
</p>
